body {
    margin: 0;
    background: #050505;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    padding: 50px 20px;
}

.logo {
    width: 250px;
    height: 250px;
    filter: brightness(1.2);
    box-shadow:
        0 0 20px rgba(212, 175, 55, 0.6),
        0 0 50px rgba(212, 175, 55, 0.4),
        0 0 90px rgba(212, 175, 55, 0.2);
}

h1 {
    color: #d4af37;
    font-size: 48px;
    letter-spacing: 3px;
}

header p {
    font-size: 20px;
    color: #cccccc;
    line-height: 1.8;
}


.portfolio {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


h2 {
    color: #d4af37;
    font-size: 36px;
}


.card {
    border: 1px solid #d4af37;
    border-radius: 15px;
    padding: 30px;
    background: #111;
    text-align: center;
}


.card h3 {
    font-size: 28px;
}


.card a {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 30px;
    border-radius: 30px;
    background: #d4af37;
    color: black;
    text-decoration: none;
    font-weight: bold;
}


.card a:hover {
    opacity: 0.8;
}


footer {
    margin-top: 50px;
    padding: 30px;
    color: #888;
}

@media(max-width:900px){

.portfolio {
    grid-template-columns: 1fr;
}

}
